<nav class="links">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/miblon"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="gplus"><a title="Google+" href="https://plus.google.com/u/0/116152172309963188680/about"><i class="fa fa-fw fa-google-plus-square"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/dogodigi"><i class="fa fa-fw fa-github-square"></i></a></li>
    </ul>
</nav>
